@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 842px;
  margin: 0 auto;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
  min-height: 100vh;
  background-color: #e8e8e8;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 160px 25px;
}

@media screen and (max-width: 768px) {
  .content__body {
    padding: 50px 25px;
  }
}

.content__list {
  margin-bottom: 75px;
}

.content__list li {
  font-size: 20px;
  color: #273d46;
  line-height: 36px;
  position: relative;
  padding-left: 35px;
}

.content__list li::before {
  content: url("../img/check_icon.png");
  position: absolute;
  top: 2px;
  left: 0;
}

.content__list li:hover {
  color: #d55a5a;
}

.content__list li:hover::before {
  content: url("../img/check_icon_red.png");
  position: absolute;
  top: 2px;
  left: 0;
}

.content__item:nth-child(1) {
  text-decoration: line-through;
}

.content__item:nth-child(2) {
  font-weight: 600;
}

.content__item:nth-child(3) {
  font-style: italic;
}

.content__item:nth-child(4) {
  text-transform: uppercase;
}

.content__btn-container {
  margin-bottom: 115px;
}

.content__btn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 15px 30px;
  background-color: #80b7b3;
  border-radius: 30px;
  position: relative;
  margin-left: 25px;
  -webkit-box-shadow: 6px 0px 40px #80b7b3;
          box-shadow: 6px 0px 40px #80b7b3;
}

.content__btn:hover {
  background-color: #3a5856;
  -webkit-box-shadow: 6px 0px 40px #3a5856;
          box-shadow: 6px 0px 40px #3a5856;
}

.content__btn:active {
  background-color: #818181;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 768px) {
  .content__btn {
    margin-left: calc(50% - 110px);
  }
}

.content__text {
  font-size: 18px;
  line-height: 28px;
}

.content__text p {
  margin-bottom: 45px;
}

.content__text p:last-child {
  margin: 0;
}

.content__text p:first-child::first-line {
  color: #ff0000;
}

.content__text p:last-child::first-letter {
  color: #ff0000;
  font-size: 24px;
}
