@import "_nullstyle";
//------------------- Fonts -------------------//

//------------------- Basis Class -------------------//
.wrapper {width: 100%;min-height: 100vh;overflow: hidden;}
.container {max-width: 842px; margin: 0 auto;}
body {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
//------------------- Independent Class -------------------//

//------------------- Content Block -------------------//
.content {
   min-height: 100vh;
   background-color: #e8e8e8;

   &__body {
      display: flex;
      flex-direction: column;
      padding: 160px 25px;
      @media screen and (max-width: 768px) {
         padding: 50px 25px;
      }
   }

   &__list {
      margin-bottom: 75px;
      li {
         font-size: 20px;
         color: #273d46;
         line-height: 36px;
         position: relative;
         padding-left: 35px;
         &::before {
            content: url('../img/check_icon.png');
            position: absolute;
            top: 2px;
            left: 0;
         }
         &:hover {
            color: #d55a5a;
            &::before {
               content: url('../img/check_icon_red.png');
               position: absolute;
               top: 2px;
               left: 0;
            }
         }
      }
   }

   &__item {
      &:nth-child(1) {
         text-decoration: line-through;
      }
      &:nth-child(2) {
         font-weight: 600;
      }
      &:nth-child(3) {
         font-style: italic;
      }
      &:nth-child(4) {
         text-transform: uppercase;
      }
   }

   &__btn-container {
      margin-bottom: 115px;
   }

   &__btn {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding: 15px 30px;
      background-color: #80b7b3;
      border-radius: 30px;
      position: relative;
      margin-left: 25px;
      box-shadow: 6px 0px 40px #80b7b3;
      &:hover {
         background-color: #3a5856;
         box-shadow: 6px 0px 40px #3a5856;
      }
      &:active {
         background-color: #818181;
         box-shadow: none;
      }
      @media screen and (max-width: 768px) {
         margin-left: calc(50% - 110px);
      }
   }

   &__text {
      font-size: 18px;
      line-height: 28px;
      p {
         margin-bottom: 45px;
         &:last-child {
            margin: 0;
         }
         &:first-child {
            &::first-line {
               color: #ff0000;
            }
         }
         &:last-child {
            &::first-letter {
               color: #ff0000;
               font-size: 24px;
            }
         }
      }
   }
}